<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Ticket</title>
</head>
<body>
<div th:replace="~{fragments :: navigation}"></div>

<header>
  <h1>Create Ticket</h1>
  <nav>
    <a th:href="@{/tickets}">View Tickets</a>
    <a th:href="@{/users}">View Users</a>
  </nav>
</header>
<main>
  <form th:action="@{/tickets/create}" th:object="${ticket}" method="post">
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

    <label for="subject">Subject:</label>
    <input type="text" id="subject" th:field="*{subject}" required>

    <label for="description">Description:</label>
    <textarea id="description" th:field="*{description}" required></textarea>

      <!-- Priority dropdown -->
    <label for="priority">Priority:</label>
    <select id="priority" th:field="*{priority}">
       <option th:value="LOW">Low</option>
       <option th:value="MEDIUM">Medium</option>
       <option th:value="HIGH">High</option>
       <option th:value="URGENT">Urgent</option>
    </select>

    <button type="submit">Create Ticket</button>
  </form>

</main>

<footer>
  <p>&copy; 2024 Ticketing System</p>
</footer>
</body>
</html>
